@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #32383e;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

/*----------------------------mine----------------------------*/

.blue {
    color: #3897f7;
}

.green {
    color: #7cff5d;
}

.orange {
    color: #ffc03f;
}

.row {
    margin: 10px;
}

.title {
    color:#ff6549;
    font-size: x-large;
    margin: 10px;
}

.body-text {
    color: #c7c7c7;
    padding: 20px;
}

.card-header {
    margin: 40px;
}

.container-custom {
    margin-bottom: 40px;
}

.container-spinner {
    position: absolute;
    top: 30vh;
    width: 100%;
    text-align: center;
    background-color: #535b63;
    color: #ff6549
}

