@page "/"
    <div class="col bg-dark container align-items-center">
        <div class="row">
            <a class="mark" href="https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-blazor-webassembly">Tutorial: Sign in users and call a protected API from a Blazor WebAssembly app</a>
        </div>

        <h2 class="modal-header text-white">This app demos the Microsoft identity platform using Azure AD.</h2>



        <div class="container-custom">
            <div class="title">step 1: Register the app in the Azure portal</div>
            <div class="body-text">
                Every app that uses Azure Active Directory (Azure AD) for authentication must be registered with Azure AD. Follow the instructions in Register an application with these specifications:
            </div>
            <div class="body-text">
                <ul>
                    <li>
                        For Supported account types, select <span class="text-white">Accounts</span> in this organizational directory only:
                    </li>
                    <li class="list-unstyled">
                        <ul class="body-text">
                            <li>
                                Leave the Redirect URI drop down set to Web and enter <a class="text-white" href="//localhost:5001/authentication/login-callback">//localhost:5001/authentication/login-callback</a>.
                            </li>
                            <li>
                                The default port for an app running on Kestrel is <span class="orange">5001</span>.
                            </li>
                            <li>
                                If the app is available on a different port, specify that port number instead of 5001.
                            </li>
                        </ul>
                    </li>
                </ul>
                Once registered, under Manage, select <span class="text-white">Authentication</span> > <span class="text-white">Implicit</span> grant and hybrid flows. Select <span class="text-white">Access tokens</span> and <span class="text-white">ID tokens</span>, and then select Save.
            </div>
        </div>

        <div class="container-custom">

            <div class="title">step 2: Create the app using the .NET Core CLI</div>
            <div class="body-text">
                To create the app you need the latest Blazor templates. You can install them for the .NET Core CLI with the following command:
            </div>
            <div class="card-header container text-light align-self-center">
                <a class="text-white">
                    <span class="blue"> dotnet new</span>
                    <span class="green"> --install</span>
                    <span class="text-white"> Microsoft.AspNetCore.Components.WebAssembly.Templates</span>
                    <span class="text-white">::3.2.1</span>
                </a>
            </div>



            <div class="body-text">
                <ul>
                    <li>
                        Then run the following command to create the application:
                    </li>
                    <li class="list-unstyled">
                        <ul class="body-text">
                            <li>
                                Replace the placeholders in the command with the proper information
                                from your app's overview page.
                            </li>
                            <li>
                                The output location specified with the <span class="text-white">-o|--output</span> option creates a project folder if it doesn't exist and becomes part of the app's name.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>



            <div class="card-header container text-light align-self-center">
                <a class="text-white">
                    <span class="blue"> dotnet new</span>
                    <span class="text-white"> blazorwasm2</span>
                    <span class="green"> --auth</span>
                    <span class="text-white"> SingleOrg</span>
                    <span class="green"> --calls-graph -o</span>
                    <span class="green"> --auth</span>
                    <span class="orange"> {APP NAME}</span>
                    <span class="green"> --client-id</span>
                    <span class="orange"> {CLIENT ID}</span>
                    <span class="green"> --tenant-id</span>
                    <span class="orange"> {TENANT ID}</span>
                </a>
            </div>

            <table class="table table-bordered text-white">
                <thead>
                    <tr>
                        <th scope="col">placeholder</th>
                        <th scope="col">portal name</th>
                        <th scope="col">example</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="orange"> {APP NAME}</span></td>
                        <td>-----</td>
                        <td><mark>BlazorWASMSample</mark></td>
                    </tr>
                    <tr>
                        <td><span class="orange"> {CLIENT ID}</span></td>
                        <td>Application (client) ID</td>
                        <td><mark>41451fa7-0000-0000-0000-69eff5a761fd</mark></td>
                    </tr>
                    <tr>
                        <td><span class="orange"> {TENANT ID}</span></td>
                        <td>Directory (tenant) ID</td>
                        <td><mark>e86c78e2-0000-0000-0000-918e0565a45e</mark></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="container-custom">

            <div class="title">step 3</div>
            <div class="body-text">
                Run the app:
            </div>

            <div class="card-header container text-light align-self-center">
                <a class="text-white align-self-center">
                    <span class="blue"> dotnet run</span>
                    <span class="green"> --framework</span>
                    <span class="text-white"> netstandard2.1</span>
                </a>
            </div>

            <row class="align-content-center align-self-center">
                <div class="title "><LoginDisplay /></div>
            </row>
        </div>
    </div>

