@page "/"

<h1>Azure Active Directory (Azure AD) Demo</h1>

<div class="modal-header">This app demos the Microsoft identity platform using Azure AD.</div>

<div class="row">
    <a class="alert-success" href="https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-blazor-webassembly">Tutorial: Sign in users and call a protected API from a Blazor WebAssembly app</a>
</div>


<div class="row bg-dark">
    <a class="text-white">
        <span class="blue">dotnet new</span>
        <span class="green">--install</span>

        Microsoft.AspNetCore.Components.WebAssembly.

        <span class="orange">Templates</span>

        ::3.2.1
    </a>
</div>
<img src="~/instructions_1.png" />
